# Data Scraping BeautifulSoup, Pandas | List of largest companies in the United States by revenue Wikipedia

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
# print(soup.prettify())

In [8]:
#soup.find('tr').text
table = soup.find('table', class_ = 'wikitable sortable')

In [10]:
# print(table)

In [12]:
# soup.find_all('th')

In [14]:
bad = '\n'
my_list = list(soup.find('tr'))
for bad in my_list:
    my_list.remove(bad)

print(my_list)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [16]:
table_titles = [title.text.strip() for title in my_list]
print(table_titles)

# for til in my_list:
#     print(til.text)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [18]:
import pandas as pd

df = pd.DataFrame(columns = table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [20]:
# table = soup.find_all('table')[0]
# print(table)
# table.find_all('tr')

In [22]:
for row in table.find_all('tr')[1:]:
    # print(row.find_all('td'))
    # row_list.append(row.text.strip())
    individualData = [data.text.strip() for data in row.find_all('td')]

    length = len(df)
    df.loc[length] = individualData

df

# print(individualData)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"