# Data Preprocessing by Muhammad Hamza Waseem

In [1]:
import os, pandas as pd
import seaborn as sns
import math

In [3]:
# Load individual queries with small dataset
df1 = pd.read_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/PickupFiveCitiesDatasets/pickup_cq.csv")
df2 = pd.read_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/PickupFiveCitiesDatasets/pickup_hz.csv")
df3 = pd.read_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/PickupFiveCitiesDatasets/pickup_jl.csv")
df4 = pd.read_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/PickupFiveCitiesDatasets/pickup_sh.csv")
df5 = pd.read_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/PickupFiveCitiesDatasets/pickup_yt.csv")

In [5]:
#combined it
combined_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [97]:
combined_df

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,pickup_gps_lng,pickup_gps_lat,...,accept_gps_lat,ds,accept_time,time_window_start,time_window_end,pickup_time,pickup_gps_time,accept_gps_time,time_window_duration,task_duration
2,2301722,3,Chongqing,4706,106.46869,29.47191,218,14,106.46821,29.46771,...,29.47231,1009,2024-10-09 13:57:00,2024-10-09 13:57:00,2024-10-09 15:57:00,2024-10-09 15:53:00,2024-10-09 15:53:00,2024-10-09 13:56:00,120.0,116.0
11,780972,3,Chongqing,4706,106.46875,29.47208,218,14,106.46930,29.47238,...,29.43180,522,2024-05-22 10:22:00,2024-05-22 10:22:00,2024-05-22 12:22:00,2024-05-22 11:18:00,2024-05-22 11:17:00,2024-05-22 10:22:00,120.0,56.0
26,283833,3,Chongqing,6693,106.46863,29.47203,218,14,106.47037,29.47237,...,29.43503,503,2024-05-03 07:49:00,2024-05-03 17:00:00,2024-05-03 19:00:00,2024-05-03 18:44:00,2024-05-03 18:44:00,2024-05-03 07:49:00,120.0,655.0
32,4315552,3,Chongqing,317,106.46861,29.48829,337,1,106.46860,29.48788,...,29.48561,606,2024-06-06 10:49:00,2024-06-06 11:00:00,2024-06-06 13:00:00,2024-06-06 12:13:00,2024-06-06 12:13:00,2024-06-06 10:49:00,120.0,84.0
33,728111,3,Chongqing,317,106.46772,29.48808,337,1,106.46918,29.48724,...,29.49159,521,2024-05-21 09:06:00,2024-05-21 11:00:00,2024-05-21 13:00:00,2024-05-21 14:36:00,2024-05-21 14:36:00,2024-05-21 09:06:00,120.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6136139,4069682,134,Yantai,15432,121.35578,37.56445,24460,14,121.35571,37.56442,...,37.55891,726,2024-07-26 07:49:00,2024-07-26 13:00:00,2024-07-26 15:00:00,2024-07-26 12:41:00,2024-07-26 12:41:00,2024-07-26 07:47:00,120.0,292.0
6136140,259629,134,Yantai,15432,121.35596,37.56506,24460,14,121.36431,37.57150,...,37.55858,722,2024-07-22 07:56:00,2024-07-22 09:00:00,2024-07-22 11:00:00,2024-07-22 09:18:00,2024-07-22 09:18:00,2024-07-22 07:55:00,120.0,82.0
6136143,5449890,134,Yantai,15432,121.35583,37.56493,24460,14,121.36560,37.55906,...,37.55896,828,2024-08-28 08:03:00,2024-08-28 09:00:00,2024-08-28 11:00:00,2024-08-28 08:43:00,2024-08-28 08:43:00,2024-08-28 08:03:00,120.0,40.0
6136144,5212482,134,Yantai,15432,121.35577,37.56443,24460,14,121.35588,37.56419,...,37.56325,729,2024-07-29 10:56:00,2024-07-29 13:00:00,2024-07-29 15:00:00,2024-07-29 11:40:00,2024-07-29 11:40:00,2024-07-29 10:54:00,120.0,44.0
6136146,5983259,134,Yantai,15432,121.35604,37.56489,24460,14,121.35596,37.56495,...,37.56350,808,2024-08-08 10:28:00,2024-08-08 10:28:00,2024-08-08 12:28:00,2024-08-08 11:02:00,2024-08-08 11:02:00,2024-08-08 10:28:00,120.0,34.0

In [9]:
# Convert 'ds' to a string and ensure it's zero-padded (e.g., '0813' for August 13)
combined_df['ds'] = combined_df['ds'].astype(str).str.zfill(4)

In [82]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3064432 entries, 2 to 6136146
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           category
 8   pickup_gps_lng     float64
 9   pickup_gps_lat     float64
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  ds                 int32
 13  accept_time        datetime64[ns]
 14  time_window_start  datetime64[ns]
 15  time_window_end    datetime64[ns]
 16  pickup_time        datetime64[ns]
 17  pickup_gps_time    datetime64[ns]
 18  accept_gps_time    datetime64[ns]
dtypes: category(1), datetime64[ns](6), float64(6), int32(1), int64(4), object(1)
memory usage: 435.4+ MB

In [15]:
print(combined_df['city'].value_counts())

city
Hangzhou     2130456
Shanghai     1424406
Chongqing    1172703
Yantai       1146781
Jilin         261801
Name: count, dtype: int64

In [57]:
combined_df.isna().any()

order_id             False
region_id            False
city                 False
courier_id           False
accept_time          False
time_window_start    False
time_window_end      False
lng                  False
lat                  False
aoi_id               False
aoi_type             False
pickup_time          False
pickup_gps_time      False
pickup_gps_lng       False
pickup_gps_lat       False
accept_gps_time      False
accept_gps_lng       False
accept_gps_lat       False
ds                   False
dtype: bool

In [23]:
combined_df['aoi_type'] = combined_df['aoi_type'].astype(str).fillna('Unknown')
combined_df['city'] = combined_df['city'].astype(str).fillna('Unknown')

In [27]:
combined_df['aoi_type'] = pd.Categorical(combined_df['aoi_type'], ordered=False)

In [37]:
print('pickup_gps_time')
combined_df['pickup_gps_time'].isna().sum()

pickup_gps_time

1792862

In [39]:
print('pickup_gps_lng')
combined_df['pickup_gps_lng'].isna().sum()

pickup_gps_lng

1792862

In [41]:
print('pickup_gps_lat')
combined_df['pickup_gps_lat'].isna().sum()

pickup_gps_lat

1792862

In [43]:
print('accept_gps_time')
combined_df['accept_gps_time'].isna().sum()

accept_gps_time

2782371

In [45]:
print('accept_gps_lng')
combined_df['accept_gps_lng'].isna().sum()

accept_gps_lng

2782371

In [47]:
print('accept_gps_lat')
combined_df['accept_gps_lat'].isna().sum()

accept_gps_lat

2782371

In [49]:
# Fill the missing values of location with the mean of respective columns
combined_df['accept_gps_lng']=combined_df['accept_gps_lng'].fillna(combined_df['accept_gps_lng'].mean())
combined_df['accept_gps_lat']=combined_df['accept_gps_lat'].fillna(combined_df['accept_gps_lat'].mean())
combined_df['pickup_gps_lng']=combined_df['pickup_gps_lng'].fillna(combined_df['accept_gps_lng'].mean())
combined_df['pickup_gps_lat']=combined_df['pickup_gps_lat'].fillna(combined_df['accept_gps_lat'].mean())

In [55]:
# columns to check for NaN
columns_to_check = ['pickup_gps_time', 'accept_gps_time']

# Remove rows with NaN in given time columns
combined_df = combined_df.dropna(subset=columns_to_check)

In [59]:
duplicate_count = combined_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [61]:
combined_df = combined_df.drop_duplicates(subset='order_id', keep='first')

In [65]:
# Split the 'accept_time' column by space into two columns: 'date' and 'time'
combined_df[['accept_date', 'accept_time1']] = combined_df['accept_time'].str.split(' ', expand=True)

# Drop the original 'accept_time' column
combined_df = combined_df.drop(columns=['accept_time'])

# Split the 'time_window_start' column by space into two columns: 'date' and 'time'
combined_df[['date_window_start', 'time_window_start1']] = combined_df['time_window_start'].str.split(' ', expand=True)

# Drop the original 'time_window_start'
combined_df = combined_df.drop(columns=['time_window_start'])

# Split the 'time_window_end' column by space into two columns: 'date' and 'time'
combined_df[['date_window_end', 'time_window_end1']] = combined_df['time_window_end'].str.split(' ', expand=True)

# Drop the original 'time_window_end' column 
combined_df = combined_df.drop(columns=['time_window_end'])

# Split the 'pickup_time' column by space into two columns: 'date' and 'time'
combined_df[['pickup_date', 'pickup_time1']] = combined_df['pickup_time'].str.split(' ', expand=True)

# Drop the original 'pickup_time' column
combined_df = combined_df.drop(columns=['pickup_time'])

# Split the 'time_window_start' column by space into two columns: 'date' and 'time'
combined_df[['date_pickup_gps', 'pickup_gps_time1']] = combined_df['pickup_gps_time'].str.split(' ', expand=True)

# Drop the original 'time_window_start'
combined_df = combined_df.drop(columns=['pickup_gps_time'])

# Split the 'time_window_end' column by space into two columns: 'date' and 'time'
combined_df[['date_accept_gps', 'accept_gps_time1']] = combined_df['accept_gps_time'].str.split(' ', expand=True)

# Drop the original 'time_window_end' column 
combined_df = combined_df.drop(columns=['accept_gps_time'])

In [69]:
# Create a full date assuming the current year (e.g., 2024)
combined_df['accept_date'] = pd.to_datetime(combined_df['accept_date'] + '-2024', format='%m-%d-%Y')

# Convert 'accept_date' column to datetime and reformat
combined_df['accept_date'] = pd.to_datetime(combined_df['accept_date'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

# Create a full date assuming the current year (e.g., 2024)
combined_df['date_window_start'] = pd.to_datetime(combined_df['date_window_start'] + '-2024', format='%m-%d-%Y')

# Convert 'accept_gps_date' column to datetime and reformat
combined_df['date_window_start'] = pd.to_datetime(combined_df['date_window_start'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

# Create a full date assuming the current year (e.g., 2024)
combined_df['date_window_end'] = pd.to_datetime(combined_df['date_window_end'] + '-2024', format='%m-%d-%Y')

# Convert 'delivery_date' column to datetime and reformat
combined_df['date_window_end'] = pd.to_datetime(combined_df['date_window_end'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

# Create a full date assuming the current year (e.g., 2024)
combined_df['pickup_date'] = pd.to_datetime(combined_df['pickup_date'] + '-2024', format='%m-%d-%Y')

# Convert 'delivery_gps_date' column to datetime and reformat
combined_df['pickup_date'] = pd.to_datetime(combined_df['pickup_date'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

# Create a full date assuming the current year (e.g., 2024)
combined_df['date_pickup_gps'] = pd.to_datetime(combined_df['date_pickup_gps'] + '-2024', format='%m-%d-%Y')

# Convert 'delivery_date' column to datetime and reformat
combined_df['date_pickup_gps'] = pd.to_datetime(combined_df['date_pickup_gps'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

# Create a full date assuming the current year (e.g., 2024)
combined_df['date_accept_gps'] = pd.to_datetime(combined_df['date_accept_gps'] + '-2024', format='%m-%d-%Y')

# Convert 'delivery_gps_date' column to datetime and reformat
combined_df['date_accept_gps'] = pd.to_datetime(combined_df['date_accept_gps'], format='%m-%d-%Y').dt.strftime('%d-%m-%Y')

In [73]:
combined_df['accept_time'] = combined_df['accept_date'] + ' ' + combined_df['accept_time1']
combined_df['time_window_start'] = combined_df['date_window_start'] + ' ' + combined_df['time_window_start1']
combined_df['time_window_end'] = combined_df['date_window_end'] + ' ' + combined_df['time_window_end1']
combined_df['pickup_time'] = combined_df['pickup_date'] + ' ' + combined_df['pickup_time1']
combined_df['pickup_gps_time'] = combined_df['date_pickup_gps'] + ' ' + combined_df['pickup_gps_time1']
combined_df['accept_gps_time'] = combined_df['date_accept_gps'] + ' ' + combined_df['accept_gps_time1']

In [77]:
combined_df = combined_df.drop(columns=['accept_time1'])
combined_df = combined_df.drop(columns=['time_window_start1'])
combined_df = combined_df.drop(columns=['time_window_end1'])
combined_df = combined_df.drop(columns=['pickup_time1'])
combined_df = combined_df.drop(columns=['pickup_gps_time1'])
combined_df = combined_df.drop(columns=['accept_gps_time1'])
combined_df = combined_df.drop(columns=['date_accept_gps'])
combined_df = combined_df.drop(columns=['date_pickup_gps'])
combined_df = combined_df.drop(columns=['pickup_date'])
combined_df = combined_df.drop(columns=['date_window_end'])
combined_df = combined_df.drop(columns=['date_window_start'])
combined_df = combined_df.drop(columns=['accept_date'])

In [81]:
combined_df['accept_time'] = pd.to_datetime(combined_df['accept_time'], dayfirst=True)
combined_df['time_window_start']=pd.to_datetime(combined_df['time_window_start'], dayfirst=True)
combined_df['time_window_end'] = pd.to_datetime(combined_df['time_window_end'], dayfirst=True)
combined_df['pickup_time']=pd.to_datetime(combined_df['pickup_time'], dayfirst=True)
combined_df['pickup_gps_time'] = pd.to_datetime(combined_df['pickup_gps_time'], dayfirst=True)
combined_df['accept_gps_time']=pd.to_datetime(combined_df['accept_gps_time'], dayfirst=True)
combined_df['ds'] = combined_df['ds'].astype(int)

In [93]:
#calculate time window duration in minutes
combined_df['time_window_duration'] = (combined_df['time_window_end'] - combined_df['time_window_start']).dt.total_seconds() / 60

In [95]:
#calculate acceptance to pickup duration in minutes
combined_df['task_duration'] = (combined_df['pickup_time'] - combined_df['accept_time']).dt.total_seconds() / 60

In [99]:
#calculate distance between acceptance and pickup using Euclidean
def euclidean_distance(lat1, lon1, lat2, lon2):
    # Calculate differences
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    # Calculate Euclidean distance
    distance = math.sqrt(dlat**2 + dlon**2)
    return distance

combined_df['distance'] = combined_df.apply(
    lambda row: euclidean_distance(row['accept_gps_lat'], row['accept_gps_lng'],
                                   row['pickup_gps_lat'], row['pickup_gps_lng']),
    axis=1
)

In [105]:
Q1 = combined_df['task_duration'].quantile(0.25)  # First quartile (25th percentile)
Q3 = combined_df['task_duration'].quantile(0.75)  # Third quartile (75th percentile)

# Calculate the IQR
IQR = Q3 - Q1

# Define the lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter the data within the bounds
filtered_df = combined_df[
    (combined_df['task_duration'] >= lower_bound) & 
    (combined_df['task_duration'] <= upper_bound)
]

print("Filtered Data:")
print(filtered_df[['task_duration']])

# Count the outliers removed
outliers_removed = len(combined_df) - len(filtered_df)
print(f"Number of outliers removed: {outliers_removed}")

Filtered Data:
         task_duration
2                116.0
11                56.0
32                84.0
33               330.0
34               130.0
...                ...
6136139          292.0
6136140           82.0
6136143           40.0
6136144           44.0
6136146           34.0

[2816245 rows x 1 columns]
Number of outliers removed: 248187

In [109]:
filtered_df

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,pickup_gps_lng,pickup_gps_lat,...,ds,accept_time,time_window_start,time_window_end,pickup_time,pickup_gps_time,accept_gps_time,time_window_duration,task_duration,distance
2,2301722,3,Chongqing,4706,106.46869,29.47191,218,14,106.46821,29.46771,...,1009,2024-10-09 13:57:00,2024-10-09 13:57:00,2024-10-09 15:57:00,2024-10-09 15:53:00,2024-10-09 15:53:00,2024-10-09 13:56:00,120.0,116.0,0.004725
11,780972,3,Chongqing,4706,106.46875,29.47208,218,14,106.46930,29.47238,...,522,2024-05-22 10:22:00,2024-05-22 10:22:00,2024-05-22 12:22:00,2024-05-22 11:18:00,2024-05-22 11:17:00,2024-05-22 10:22:00,120.0,56.0,0.041740
32,4315552,3,Chongqing,317,106.46861,29.48829,337,1,106.46860,29.48788,...,606,2024-06-06 10:49:00,2024-06-06 11:00:00,2024-06-06 13:00:00,2024-06-06 12:13:00,2024-06-06 12:13:00,2024-06-06 10:49:00,120.0,84.0,0.006989
33,728111,3,Chongqing,317,106.46772,29.48808,337,1,106.46918,29.48724,...,521,2024-05-21 09:06:00,2024-05-21 11:00:00,2024-05-21 13:00:00,2024-05-21 14:36:00,2024-05-21 14:36:00,2024-05-21 09:06:00,120.0,330.0,0.005190
34,1935925,3,Chongqing,317,106.46885,29.48818,337,1,106.46925,29.48795,...,528,2024-05-28 09:37:00,2024-05-28 11:00:00,2024-05-28 13:00:00,2024-05-28 11:47:00,2024-05-28 11:47:00,2024-05-28 09:36:00,120.0,130.0,0.002368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6136139,4069682,134,Yantai,15432,121.35578,37.56445,24460,14,121.35571,37.56442,...,726,2024-07-26 07:49:00,2024-07-26 13:00:00,2024-07-26 15:00:00,2024-07-26 12:41:00,2024-07-26 12:41:00,2024-07-26 07:47:00,120.0,292.0,0.011104
6136140,259629,134,Yantai,15432,121.35596,37.56506,24460,14,121.36431,37.57150,...,722,2024-07-22 07:56:00,2024-07-22 09:00:00,2024-07-22 11:00:00,2024-07-22 09:18:00,2024-07-22 09:18:00,2024-07-22 07:55:00,120.0,82.0,0.013143
6136143,5449890,134,Yantai,15432,121.35583,37.56493,24460,14,121.36560,37.55906,...,828,2024-08-28 08:03:00,2024-08-28 09:00:00,2024-08-28 11:00:00,2024-08-28 08:43:00,2024-08-28 08:43:00,2024-08-28 08:03:00,120.0,40.0,0.000164
6136144,5212482,134,Yantai,15432,121.35577,37.56443,24460,14,121.35588,37.56419,...,729,2024-07-29 10:56:00,2024-07-29 13:00:00,2024-07-29 15:00:00,2024-07-29 11:40:00,2024-07-29 11:40:00,2024-07-29 10:54:00,120.0,44.0,0.001720
6136146,5983259,134,Yantai,15432,121.35604,37.56489,24460,14,121.35596,37.56495,...,808,2024-08-08 10:28:00,2024-08-08 10:28:00,2024-08-08 12:28:00,2024-08-08 11:02:00,2024-08-08 11:02:00,2024-08-08 10:28:00,120.0,34.0,0.010907

In [107]:
filtered_df.to_csv("C:/Users/abcal/OneDrive/Desktop/Technocolobs/cleaned_pickup_data.csv", index=False)